/*Global CSS*/
.parent{
    border: 30px;
}
.child1 {
    position:relative;
    left:50px;
}
.child2 {
    position:fixed;
    right:100px;
}
.child3 {
    position:static;
    left:0px;
}
.child4  {
    position:absolute;
    right:0px;
}